name: Check updates

on:
  schedule:
    - cron: '0 20 * * *'
  workflow_dispatch:

jobs:
  check-updates:
    runs-on: ubuntu-latest
    outputs:
      packages: ${{ steps.set-matrix.outputs.packages }}

    steps:
    - uses: purcell/setup-emacs@master
      with:
        version: 29.1

    - uses: actions/checkout@v3

    - name: Check updates
      run: |
        ./count-emacs-obsolute-packages.sh

    - name: Detect updates
      run: |
        update_count=$(wc -l /tmp/emacs-outdated-packages.txt | cut -d " " -f 1)
        if [ $update_count -gt 0 ]; then
          echo 'found_update=1' >> $GITHUB_ENV
        fi

    - if: env.found_update == 1
      name: Set matrix
      id: set-matrix
      run: |
        packages=$(cat /tmp/emacs-outdated-packages.txt | jq -R -s -c 'split("\n")[:-1]')
        echo $packages
        echo "packages=${packages}" >> $GITHUB_OUTPUT

  call-update-workflow:
    needs: check-updates
    strategy:
      fail-fast: false
      matrix:
        package: ${{fromJson(needs.check-updates.outputs.packages)}}
    uses: ./.github/workflows/create-package-update-pr.yml
    with:
      package: ${{ matrix.package }}
    secrets: inherit
