name: test

on: push

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        emacs_version:
          - 26.3
          - 27.1
          - 27.2
          - 28.1
          - 28.2
          - 29.1

    steps:
    - uses: purcell/setup-emacs@master
      with:
        version: ${{ matrix.emacs_version }}

    - uses: actions/checkout@v3

    - name: Run tests
      run: |
        emacs -Q --batch --eval "(setq user-emacs-directory \"$(pwd)/\")" \
        --eval '(setq el-get-git-install-url "https://github.com/mugijiru/el-get.git")' \
        --eval '(setq el-get-install-branch "fix-install-for-emacs29")' \
        -l inits/test/*-test.el \
        -l inits/test/run-tests.el
