name: Hugo

on:
  push:
    paths:
      - 'hugo/content/**/*.md'
      - '.github/workflows/hugo.yml'
    branches:
      - 'master'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: true

      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v2
        with:
          hugo-version: '0.117.0'
          extended: true

      - name: Build
        run: |
          cd hugo
          hugo

      - name: Check diff
        run: |
          [[ -z $(git status -s) ]] || echo 'found_update=1' >> $GITHUB_ENV

      - name: Setup git config
        if: env.found_update == 1
        run: |
          git config --global user.name "${{ github.actor }}"
          git config --global user.email "${{ github.actor }}@users.noreply.github.com"

      - name: Commit & Push
        if: env.found_update == 1
        run: |
          git add .
          git commit -m "Build Hugo by GitHub Actions"
          git push

      - name: Notify slack build result
        uses: lazy-actions/slatify@master
        if: always()
        with:
          type: ${{ job.status }}
          job_name: '*Build*'
          mention: 'here'
          username: 'GitHub Actions'
          mention_if: 'failure'
          url: ${{ secrets.HUGO_BUILD_TO_SLACK }}
          commit: true
          token: ${{ secrets.GITHUB_TOKEN }}
